html    
    head
        title Microcrédito | #{title}
        //  [Meta] 
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=0,minimal-ui')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')

        link(rel='stylesheet' href='css/style.css')
        link(rel='stylesheet' href='css/style.v2.css')

body(data-pc-preset='preset-1' data-pc-sidebar-caption='true' data-pc-layout='vertical' data-pc-direction='ltr', data-pc-theme_contrast, data-pc-theme='light')
    .auth-main
        .auth-wrapper.v1
            .auth-form
                .card.my-5
                    .card-body
                        .d-flex.justify-content-between.align-items-end.mb-4
                            h3.mb-0
                                b Esqueceu sua senha?
                            a.link-primary(href='/login') Volte ao login
                        form.recover-password-form     
                            .mb-3
                                label.form-label Introduza o seu endereço de email
                                input.form-control(type='email' id='email' name='email' placeholder='Endereço de email')
                            p.mt-4.text-sm.text-muted
                                | Não esqueça de marcar a caixa de SPAM.
                            .d-grid.mt-3
                                button.btn.btn-primary.reset-password(type='submit')
                                    |Enviar e-mail de redefinição de senha
    script(src='/js/bundle.js')