doctype html
html(lang='en')
  head
    title  Microcr&eacute;dito | #{title} 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=0,minimal-ui')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='author', content='Phoenixcoded')
    link#main-font-link(rel='stylesheet', href='fonts/inter/inter.css')
    link(rel='stylesheet', href='/fonts/phosphor/duotone/style.css')
    link(rel='stylesheet', href='/fonts/feather.css')
    link(rel='stylesheet', href='/fonts/fontawesome.css')
    link(rel='stylesheet', href='/fonts/material.css')
    link#main-style-link(rel='stylesheet', href='/css/style.css')
    link#main-style-link(rel='stylesheet', href='/css/style.v2.css')
    link(rel='stylesheet', href='/css/style-preset.css')
  body(data-pc-preset='preset-1', data-pc-sidebar-caption='true', data-pc-layout='vertical', data-pc-direction='ltr', data-pc-theme_contrast='', data-pc-theme='light')
  body(data-pc-preset='preset-1', data-pc-sidebar-caption='true', data-pc-layout='vertical', data-pc-direction='ltr', data-pc-theme_contrast='', data-pc-theme='light')
    .page-loader
      .bar
    .auth-main
      .auth-wrapper.v1
        .auth-form
          .card.my-5
            .card-body
              form.reset-password-form
                .mb-4
                  h3.mb-2
                    b Redefinir senha
                  p.text-muted Por favor escolha sua nova senha
                .mb-3
                  label.form-label Senha  
                  input.form-control(type='password' id='password' name='password' placeholder='Nova senha' required)
                  input(type='hidden' id='token'  name='token' value=`${token}`)
                .mb-3
                  label.form-label Confirme sua senha
                  input.form-control(type='password' id='passwordConfirm' name='passwordConfirm' placeholder='Confirme a nova senha' required)
                .d-grid.mt-4
                  button.btn.btn-primary(type='submit')
                    | Redefinir senha

    script(src='/js/bundle.js')
    script(src='/js/plugins/popper.min.js')
    script(src='/js/plugins/simplebar.min.js')
    script(src='/js/plugins/bootstrap.min.js')
    script(src='/js/fonts/custom-font.js')
    script(src='/js/pcoded.js')
    script(src='/js/plugins/feather.min.js')
    script.
      layout_change("light");
    script.
      change_box_container("false");
    script.
      layout_caption_change("true");
    script.
      layout_rtl_change("false");
    script.
      preset_change("preset-1");
    script.
      main_layout_change("vertical");
    .pct-c-btn
      a(href='#', data-bs-toggle='offcanvas', data-bs-target='#offcanvas_pc_layout')
        i.ph-duotone.ph-gear-six
    #offcanvas_pc_layout.offcanvas.border-0.pct-offcanvas.offcanvas-end(tabindex='-1')
      .offcanvas-header
        h5.offcanvas-title Settings
        button.btn.btn-icon.btn-link-danger.ms-auto(type='button', data-bs-dismiss='offcanvas', aria-label='Close')
          i.ti.ti-x
      .pct-body.customizer-body
        .offcanvas-body.py-0
          ul.list-group.list-group-flush
            li.list-group-item
              .pc-dark
                h6.mb-1 Theme Mode
                p.text-muted.text-sm
                  | Choose light or dark mode or Auto
                .row.theme-color.theme-layout
                  .col-4
                    .d-grid
                      button.preset-btn.btn.active(data-value='true', onclick="layout_change('light');", data-bs-toggle='tooltip', title='Light')
                        svg.pc-icon.text-warning
                          use(xlink:href='#custom-sun-1')
                  .col-4
                    .d-grid
                      button.preset-btn.btn(data-value='false', onclick="layout_change('dark');", data-bs-toggle='tooltip', title='Dark')
                        svg.pc-icon
                          use(xlink:href='#custom-moon')
                  .col-4
                    .d-grid
                      button.preset-btn.btn(data-value='default', onclick='layout_change_default();', data-bs-toggle='tooltip', title="Automatically sets the theme based on user's operating system's color scheme.")
                        span.pc-lay-icon.d-flex.align-items-center.justify-content-center
                          i.ph-duotone.ph-cpu
            li.list-group-item
              h6.mb-1 Theme Contrast
              p.text-muted.text-sm Choose theme contrast
              .row.theme-contrast
                .col-6
                  .d-grid
                    button.preset-btn.btn(data-value='true', onclick="layout_theme_contrast_change('true');", data-bs-toggle='tooltip', title='True')
                      svg.pc-icon
                        use(xlink:href='#custom-mask')
                .col-6
                  .d-grid
                    button.preset-btn.btn.active(data-value='false', onclick="layout_theme_contrast_change('false');", data-bs-toggle='tooltip', title='False')
                      svg.pc-icon
                        use(xlink:href='#custom-mask-1-outline')
            li.list-group-item
              h6.mb-1 Custom Theme
              p.text-muted.text-sm Choose your primary theme color
              .theme-color.preset-color
                a.active(href='#!', data-bs-toggle='tooltip', title='Blue', data-value='preset-1')
                  i.ti.ti-checks
                a(href='#!', data-bs-toggle='tooltip', title='Indigo', data-value='preset-2')
                  i.ti.ti-checks
                a(href='#!', data-bs-toggle='tooltip', title='Purple', data-value='preset-3')
                  i.ti.ti-checks
                a(href='#!', data-bs-toggle='tooltip', title='Pink', data-value='preset-4')
                  i.ti.ti-checks
                a(href='#!', data-bs-toggle='tooltip', title='Red', data-value='preset-5')
                  i.ti.ti-checks
                a(href='#!', data-bs-toggle='tooltip', title='Orange', data-value='preset-6')
                  i.ti.ti-checks
                a(href='#!', data-bs-toggle='tooltip', title='Yellow', data-value='preset-7')
                  i.ti.ti-checks
                a(href='#!', data-bs-toggle='tooltip', title='Green', data-value='preset-8')
                  i.ti.ti-checks
                a(href='#!', data-bs-toggle='tooltip', title='Teal', data-value='preset-9')
                  i.ti.ti-checks
                a(href='#!', data-bs-toggle='tooltip', title='Cyan', data-value='preset-10')
                  i.ti.ti-checks
  // [Body] end